.header {
  background-image: url('@shared/assets/images/background_header.webp');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  height: 360px;
  position: relative;
  z-index: 1;
}

.blur {
  backdrop-filter: brightness(50%) blur(1.5px);
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
}

.list {
  width: 100%;
}